@import './base.css';

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 14px;
}

p {
  line-height: 1.75;
}
 